@import "../styles/style.scss";

.bulkSms{
    text-align: center;
    padding-top: 4rem;

    >h1{
        font-size: 2.2rem;
        margin-bottom: 1.6rem;
    }

    >p{
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
    }

    >.promotionalSms{

        >h1{
            font-size: 2.4rem;
            margin-bottom: 1rem;
        }
            
        >button{
            border-radius: 1.5rem;
            margin-right: 0.6rem;
            padding: 0.4rem;
            margin-left: 0.6rem;
        }

        >button:hover{
            box-shadow: 0 0 0px 0 $third,
            inset -100px 10px 100px 20px transparent,
            0 0 6px 0px $third,
            inset 0 0 0px 0 transparent;
            transition: ease-in-out;
            transition-duration: 0.4s;
        }

        >button:active{
            background: $third;

        }

        >button:focus{
            box-shadow: 0 0 0px 0 black,
            inset -100px 10px 100px 20px transparent,
            0 0 12px 1px black,
            inset 0 0 0px 0 transparent;
        }

        >.bulkSmsRoute{
            margin: 4rem 1.8rem;
        }
    }

    >.transactionalSms{

        >h1{
            font-size: 2.4rem;
            margin-bottom: 1rem;
        }
            
        >button{
            border-radius: 1.5rem;
            margin-right: 0.6rem;
            padding: 0.4rem;
            margin-left: 0.6rem;
        }

        >button:hover{
            box-shadow: 0 0 0px 0 $third,
            inset -100px 10px 100px 20px transparent,
            0 0 6px 0px $third,
            inset 0 0 0px 0 transparent;
            transition: ease-in-out;
            transition-duration: 0.4s;
        }

        >button:active{
            background: $third;

        }

        >button:focus{
            box-shadow: 0 0 0px 0 black,
            inset -100px 10px 100px 20px transparent,
            0 0 12px 1px black,
            inset 0 0 0px 0 transparent;
        }

        >.bulkSmsRoute{
            margin: 4rem 1.8rem;
        }
    }
}