@import "../styles/style.scss";
@import "../styles/breakpoints.scss";

#contactUs{
    background: url($path1);
    background-repeat: no-repeat;
    background-size: cover;
    color: $second;
    font-family: $text2;
    display: flex;
    padding-top: 7rem;

    >.info{
        padding: 4rem;
        display: grid;
        justify-content: space-around;
        width: 50%;

        >h1{
            font-size: 4rem;
        }

        >h2{
            font-size: 2.5rem;
            margin-top: -6rem;
        }

        >ul{
            list-style: none;
            margin-top: -4rem;

            >li{
                font-size: 1.2rem;
            }
        }
    }
    
    >.formSubmit{
        width: 50%;
        display: grid;
        justify-content: space-around;
        padding: 5rem;

        >form{
            padding: 3rem;
            background: $second;
            color: $third;
            display: grid;
            border-radius: 1rem;
            margin-top: -1rem;

            >h1{
                font-size: 1.8rem;
                margin-top: -0.5rem;
                margin-bottom: 1rem;
                font-weight: 600;
            }

            >input{
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
                outline: none;
                padding: 0.6rem;
                border-radius: 5px;
                box-shadow: 0 0 0px 0 transparent,
                inset 1px 1px 1px 0px $third,
                0 0 8px 0px transparent,
                inset 1px 1px 1px 0 $third;
            }

            >input:focus{
                border-color: black;
                box-shadow: 0 0 0px 0 black,
                inset -100px 10px 100px 20px transparent,
                0 0 8px 0px black,
                inset 0 0 0px 0 transparent;
                transition: ease-in-out 0.3s;
            }

            >textarea{
                border-radius: 5px;
                margin-bottom: 0.5rem;
                padding: 0.6rem;
                font-family: $text2;
                border-bottom: 0px;
                font-size: 0.8rem;
                box-shadow: 0 0 0px 0 transparent,
                inset 1px 1px 1px 0px $third,
                0 0 8px 0px transparent,
                inset 1px 1px 1px 0 $third;
                outline: none;
            }

            >textarea:focus{
                box-shadow: 0 0 0px 0 black,
                inset -100px 10px 100px 20px transparent,
                0 0 6px 0px black,
                inset 0 0 0px 0 transparent;
                transition: ease-in-out 0.3s;
            }

            >.submit:active{
                background: black;
                color: white;
            }
        }
    }
}

@mixin breakpoint($user-value){
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media(#{$my-map}){
            @content;
        }  
    }
};

@include breakpoint(contactbp1){
    #contactUs{
        
        >.info{
            padding: 2rem;

            >h1{
                font-size: 3rem;
            }

            >h2{
                font-size: 2rem;
                margin-top: -6rem;
            }

            >ul{
                margin-top: -5rem;

                >li{
                    font-size: 1rem;
                }
            }
        }

        >.formSubmit{
            padding: 2rem;

            >form{
                padding: 2rem;

                >h1{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@include breakpoint(contactbp2){
    #contactUs{

        >.info{
            padding: 1rem;

            >h1{
                font-size: 2.5rem;
                margin-top: 2rem;
            }

            >h2{
                font-size: 1.5rem;
                margin-top: -1rem;
            }

            >ul{
                margin-top: -1rem;
            }
        }

        >.formSubmit{
            padding: 0.5rem;

            >form{
                margin-top: 0rem;
                padding: 1.5rem;

                >h1{
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }

                >input{
                    width: 165px;
                }

                >textarea{
                    height: 75px;
                }
            }
        }
    }
}

@include breakpoint(contactbp3){
    #contactUs{

        >.info{
            padding: 0.3rem;
            width: 40%;

            >h1{
                font-size: 1.5rem;
                margin-top: 2.8rem;
            }

            >h2{
                font-size: 0.9rem;
                margin-top: 0rem;
            }

            >ul{
                margin-top: 0rem;
                list-style: square;

                >li{
                    font-size: 0.8rem;
                }
                
                >span{
                    display: none;
                }
            }
        }

        >.formSubmit{
            width: 60%;
            padding: 0rem;
            display: flex;
            justify-content: space-around;

            >form{
                margin-top: 1rem;
                padding: 0.7rem;

                >h1{
                    font-size: 1rem;
                    margin-top: 0.3rem;

                    >span{
                        display: none;
                    }
                }

                >input{
                    font-size: 0.5rem;
                    padding: 0.3rem;
                }

                >textarea{
                    font-size: 0.5rem;
                }
            }
        }
    }
}

@include breakpoint(contactbp4){
    #contactUs{

        >.info{
            width: 100%;

            >h1{
                font-size: 1.8rem;
            }

            >h2{
                font-size: 0.9rem;
            }

            >ul{

                >li{
                    font-size: 0.6rem;
                }
            }
        }

        >.formSubmit{
            display: none;
        }
    }
}