@import "../styles/style.scss";
@import "../styles/breakpoints.scss";

.footer{
    background: black;
    color: $second;
    font-family: $text2;
    display: grid;

    >.footerMain{
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem;

        >.address{
            margin: 3rem 3rem 0rem;

            >h3{
                padding-bottom: 1rem;
            }
        }

        >.contactDetails{
            margin: 5rem 2rem 0rem;

            >h1{
                padding-bottom: 1rem;
            }
        }

        >.reachOut{
            
            >h1{
                padding-bottom: 1rem;
            }

            >form{
                background: transparent;  
                display: grid;
                color: black;

                >input{
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    font-size: 0.87rem;
                    outline: none;
                    margin-bottom: 0.5rem;
                }

                >textarea{
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    font-size: 1rem;
                    outline: none;
                    margin-bottom: 0.5rem;
                }

                >.submit:active{
                    background: black;
                    color: white;
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }

    >.footerCopyright{
        background: $second;
        color: $third;
        text-align: center;
        padding: 2rem;
    }
}

@mixin breakpoint($user-value){
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media(#{$my-map}){
            @content;
        }  
    }
};

@include breakpoint(footerbp1){
    .footer{

        >.footerMain{
            padding: 1rem 2rem;
        }
    }
}

@include breakpoint(footerbp2){
    .footer{

        >.footerMain{
            padding: 0.5rem;

            >.address{
                margin: 3rem 1rem 1rem;
                
                >h3{
                    padding-bottom: 0.3rem;
                    font-size: 0.8rem;

                    >span{
                        display: none;
                    }
                }

                >p{
                    font-size: 0.5rem;
                }
            }

            >.contactDetails{
                margin: 3rem 1rem 0rem;

                >h1{
                    padding-bottom: 0.3rem;
                    font-size: 0.8rem;
                }

                >p{
                    font-size: 0.8rem;
                }
            }

            >.reachOut{
                margin-top: 3rem;

                >h1{
                    padding-bottom: 0.3rem;
                    font-size: 0.8rem;
                }

                >form{

                    >input{
                        font-size: 0.6rem;
                        padding: 0.3rem;
                    }

                    >textarea{
                        height: 4rem;
                        font-size: 0.6rem;
                        padding: 0.3rem;
                    }
                }
            }
        }

        >.footerCopyright{
            padding: 1.5rem;
            font-size: 1rem;
        }
    }
}