@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Ruslan+Display&display=swap');

$first: #FF71CD;
$second: #FFF7FC;
$third: rgb(95, 93, 93);
$fourth: dimgrey;
$text1: "Ruslan Display", sans-serif;
$text2: "Lato", sans-serif;
$path1: '../assets/server.jpg';
$path2: '../assets/wall1.avif'