@import "../styles/style.scss";
@import "../styles/breakpoints.scss";

.support{
    color: $second;
    background: url($path2);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    display: grid;
    font-family: $text2;

    >h1{
        margin-bottom: 4rem;
        font-size: 2.5rem;
        text-align: center;
    }

    >.supportInfo{
        display: flex;
        padding: 0 3rem 0 3rem;

        >.supportContent{
            display: grid;
            margin-right: 3.5rem;

            >h4{
                display: flex;
                font-size: 1.5rem;

                >img{
                    width: 3.5rem;
                    height: 2.5rem;
                }
            }

            >p{
                margin-top: 0.8rem;
                font-size: 1.2rem;
            }
        }
    }
}

@mixin breakpoint($user-value){
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media(#{$my-map}){
            @content;
        }  
    }
};

@include breakpoint(supportbp1){
    .support{
        padding: 3rem;
        padding-bottom: 7rem;

        >h1{
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        >.supportInfo{
            padding: 0rem;

            >.supportContent{
                margin-right: 1.5rem;

                >h4{
                    font-size: 1.2rem;

                    >img{
                        width: 3rem;
                        height: 2rem;
                    }
                }

                >p{
                    font-size: 1rem;
                }
            }
        }
    }   
}

@include breakpoint(supportbp2){
    .support{
        padding: 1.5rem;
        padding-bottom: 4rem;

        >h1{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        >.supportInfo{

            >.supportContent{
                margin-right: 1rem;

                >h4{
                    font-size: 1rem;

                    >img{
                        width: 2.2rem;
                        height: 1.5rem;
                    }
                }

                >p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@include breakpoint(supportbp3){
    .support{
        padding: 1.2rem;
        padding-bottom: 3rem;

        >h1{
            font-size: 1rem;
        }

        >.supportInfo{
            
            >.supportContent{
                margin-right: 0.8rem;

                >h4{
                    font-size: 0.8rem;

                    >img{
                        width: 2rem;
                        height: 1rem;
                    }

                    >span{
                        display: none;
                    }
                }

                >p{
                    font-size: 0.6rem;

                    >span{
                        display: none;
                    }
                }
            }
        }
    }
}

@include breakpoint(supportbp4){
    .support{
        padding: 0.8rem;
        padding-bottom: 2.5rem;

        >h1{
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
        }

        >.supportInfo{
            
            >.supportContent{
                margin-right: 0.5rem;

                >h4{
                    font-size: 0.6rem;

                    >img{
                        width: 1.5rem;
                        height: 0.8rem;
                    }
                }

                >p{
                    font-size: 0.4rem;
                    margin-top: 0.4rem;
                }
            }
        }
    }
}

@include breakpoint(supportbp5){
    .support{
        padding: 0.2rem;
        padding-bottom: 2.3rem;

        >h1{
            font-size: 0.45rem;
        }

        >.supportInfo{

            >.supportContent{
                margin-right: 0.2rem;

                >h4{
                    font-size: 0.35rem;

                    >img{
                        width: 0.8rem;
                        height: 0.5rem;
                    }
                }

                >p{
                    font-size: 0.25rem;
                    margin-top: 0.2rem;
                }
            }
        }
    }
}