@import "../styles/style.scss";
@import "../styles/breakpoints.scss";

.voiceCallSms{
    text-align: center;

    >.image{
        padding: 16rem;
        background: url($path3);
        background-repeat: no-repeat;
        background-size: cover;
        color: $second;

        >h1{
            font-size: 5rem;
            font-weight: 900;
        }
    }

    >.voiceContent{
        margin-top: 2rem;
        font-family: $text2;
        padding: 2rem;

        >h1{
            font-size: 2rem;
            font-weight: 600;
            margin: 1.5rem 0rem;
        }

        >p{
            text-align: left;
            padding: 1rem 8rem;
            font-size: 1.1rem;
            font-weight: 500;
        }

        >ul{
            text-align: left;
            padding: 1rem 10rem;
            font-size: 1.1rem;
            font-weight: 500;
            list-style: inside;
            list-style-type: disc;
        }
    }

    >.voiceSms{
        margin: 3rem 0rem;

        >h1{
            font-size: 2.4rem;
            margin-bottom: 2rem;
            font-weight: 500;
        }
        
        >.normalRouteTable{
            display: flex;
            justify-content: space-around;

            >.table{
                overflow-x: visible !important;
            }
        }
    }
}

@mixin breakpoint($user-value){
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media(#{$my-map}){
            @content;
        }  
    }
};

@include breakpoint(voicebp){
    .voiceCallSms{

        >.image{
            padding: 12rem 1rem 6rem;

            >h1{
                font-size: 3rem;
                font-weight: 800;
            }
        }

        >.voiceContent{
            margin-top: 1rem;
            padding: 1rem;

            >h1{
                font-size: 1.6rem;
                margin: 1rem 0rem;
            }

            >p{
                padding: 1rem 2rem;
            }

            >ul{
                padding: 0.2rem 4rem;
            }
        }
    }
}